body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-heading {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.course-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Space between course cards */
}

.course-card {
  background-color: #f9f9f9;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.course-card:hover {
  transform: scale(1.02); /* Slight zoom effect on hover */
}

.course-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.course-info {
  margin-top: 10px;
}

.course-title {
  font-size: 1.5em;
  margin: 10px 0;
  color: #333;
}

.course-description {
  color: #666;
}

.resume-button {
  display: inline-block;
  background-color: #007bff; /* Blue color for Resume button */
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: center; /* Center the text in button */
}

.resume-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.no-courses-message {
  text-align: center;
  font-size: 1.2em;
  color: #888;
  margin-top: 20px;
}
.community-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.community-button:hover {
  background-color: #45a049;
}


.return-book-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.return-book-button:hover {
  background-color: #45a049; /* Darker green */
}
