<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Course List</title>
    <link rel="stylesheet" href="/css/course-list.css"> 
</head>
<body>
    <h1>All Courses</h1>

    <div class="user-info">
        <p th:if="${username}">Welcome, <span th:text="${username}"></span>!</p>
    </div>

    <div class="course-container">
        <div th:each="course : ${courses}" class="course-card">
            <img th:src="@{/uploads/thumbnails/${course.thumbnail}}" alt="Course Thumbnail" />
            <div class="course-info">
                <h2 class="course-title" th:text="${course.title}"></h2>
                <p class="course-description" th:text="${course.description}"></p>
                <a th:href="@{/course/{id}(id=${course.id})}" class="action-link">View Details</a>
            </div>
        </div>
    </div>
    <a href="/courses/add" class="action-link">Add New Course</a>
</body>
</html>
