<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>User Dashboard</title>
</head>
<body>
    <header>
        <nav>
          <h1>User Dashboard</h1>
          <div class="user-info">
            <span id="greeting"></span>
            <span id="welcomeMessage"></span>
            <a id="createCourse" href="/create-course" style="display: none;">Create Course</a>
          </div>
        </nav>
    </header>
    <footer>
      <p>&copy; 2024 EduFlex. All Rights Reserved.</p>
    </footer>
    <script src="../static/js/navbar.js"></script>
</body>
</html>
