<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="../static/css/register.css"> 
</head>
<body>

<div class="container">
    <h2>Register</h2>
    <form action="/register" method="post" enctype="multipart/form-data"> 
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <label for="dob">Date of Birth</label>
        <input type="date" id="dob" name="dob" required>

        <label for="age">Age</label>
        <input type="number" id="age" name="age" min="5" max="120" required>

        <label for="profilePicture">Profile Picture</label>
        <input type="file" id="profilePicture" name="profilePicture" accept="image/jpeg, image/png, image/jpg">

        <label for="role">Role</label>
        <select id="role" name="role" required>
            <option value="STUDENT">Student</option>
            <option value="TEACHER">Teacher</option>
        </select>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>
